DATABASE_URL=postgresql+psycopg2://finops:finops@localhost:5432/finops
# Webhook para notificações (Rocket.Chat/Slack). Exemplo usando host.docker.internal apontando para Rocket.Chat na máquina host:
WEBHOOK_URL=http://host.docker.internal:3000/hooks/69542b9dcf29bcbe18ea1091/rfuhDPpnfQzfrKTF7ZRWf6BhpPBGaR7WadeMjL7xesjQNdZf
# WEBHOOK_CHANNEL=#finops
# WEBHOOK_USERNAME=finops-bot
# SECRET_KEY=troque-para-um-valor-seguro
# ACCESS_TOKEN_EXP_MINUTES=30
# REFRESH_TOKEN_EXP_DAYS=7
